body {
    font-family:'Helvetica';
    width: auto;
    color: #e5e4e2;
    text-align: justify;
    backround-color: #000000;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #e5e4e2;
    font-family:'Helvetica';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

Leviathan {
    color: #e5e4e2;
}
